@font-face {
  font-family: msyh;
  src: url(/file/font/msyh.ttf);
  direction: ltr;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(/file/img/vista.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  line-height: 1.5;
  font-size: 16px;
  font-family: msyh;
  padding: 0;
  margin: 0;
  color: #000;
}

hr {
  border: 1px solid transparent;
  border-top-color: #00000040;
  border-bottom-color: #ffffff40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
}

#jian1rong2xing4ti2shi4 {
  position: fixed;
  bottom: 0;
  /* transform: translate(-50%, -50%); */
  z-index: 114514;
  display: none;
}

button {
  box-shadow: inset 0 0 0 1px #ffffffcc;
  border: 1px solid #566877 !important;
  border-radius: 3px;
  background: linear-gradient(to bottom, #f2f2f2 50%, #e0e0e0 0, #cecece 100%);
  margin: 5px 5px;
  font-family: msyh;
  padding: 2px 10px;
  transition: all 0.5s;
}

button:hover {
  box-shadow: inset 0 0 0 1px #fffffff0;
  border: 1px solid #3c7fb1 !important;
  background: linear-gradient(to bottom, #e7f9ff 0%, #dff4ff 47%, #b5e4ff 53%, #b4ebff 100%);
}

button:active {
  box-shadow: inset 0 0 0 1px #67aadb;
  border: 1px solid #272727 !important;
  background: linear-gradient(to bottom, #e4f3fb 0%, #e1f2fb 12%, #c4e5f6 47%, #98d1ef 53%, #68b2da 100%);
}

thead td {
  border: 1px outset #00000040;
}

tbody td {
  border: 1px inset #00000040;
}

a {
  text-decoration: none;
  color: #00f;
}

a:hover {
  /* text-decoration: underline; */
  box-shadow: inset 0 -1px 0 0 #00f;
}

a:active {
  box-shadow: inset 0 -1px 0 0 #000080;
}

/* 清除iframe默认样式 */
iframe {
  all: unset;
  width: 100%;
}

img {
  max-width: 100%;
}

/* 无色背景小文本 */
xl_标签文本透明 {
  /* margin: 0px 4px; */
  padding: 0px 2px;
  font-size: 12px;
  color: #000;
  background-color: #00000000;
  border: 1px solid #000;
}

/* 黄色背景小文本 */
xl_标签文本黄色 {
  /* margin: 0px 4px; */
  padding: 0px 2px;
  font-size: 12px;
  color: #000;
  background-color: #ff0;
  border: 1px solid #000;
}

/* 灰色背景小文本 */
xl_标签文本灰色 {
  /* margin: 0px 4px; */
  padding: 0px 2px;
  font-size: 12px;
  color: #fff;
  background-color: #808080;
  border: 1px solid #fff;
}

/* 红色背景小文本 */
xl_标签文本红色 {
  /* margin: 0px 4px; */
  padding: 0px 2px;
  font-size: 12px;
  color: #fff;
  background-color: #f00;
  border: 1px solid #fff;
}

/* 蓝色背景小文本 */
xl_标签文本蓝色 {
  /* margin: 0px 4px; */
  padding: 0px 2px;
  font-size: 12px;
  color: #fff;
  background-color: #00f;
  border: 1px solid #fff;
}

dialog {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

input {
  margin: 2px;
  border: 1px solid #00000000;
  border-top-color: #00000080;
  border-left-color: #00000040;
  border-bottom-color: #00000020;
  border-right-color: #00000040;
  border-radius: 2px;
  transition: all 1s;
}

input:hover {
  border-top-color: #0000ffc0;
  border-left-color: #0000ff80;
  border-bottom-color: #0000ff40;
  border-right-color: #0000ff80;
}

.xl_树状列表 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.xl_树状列表 ul {
  margin-left: 18px;
  padding: 0;
  list-style: none;
}

.xl_树状列表 li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.xl_树状列表 li::before {
  content: "├";
  color: #00f;
  margin-right: 2px;
}

.xl_树状列表 li:last-child::before {
  content: "└";
  color: #00f;
  margin-right: 2px;
}

/* 菜单栏 */
.xl_菜单栏 {
  margin: 0;
  padding: 2px;
  background: linear-gradient(0deg, #ffffff64 0%, #ffffff00 5%, #ffffff00 100%), linear-gradient(0deg, #92dbe564 0%, #ffffff00 36%, #ffffff00 100%), linear-gradient(0deg, #a0d2d264 0%, #ffffff00 16%, #ffffff00 100%), linear-gradient(0deg, #00000016 53%, #ffffff00 53%, #ffffff00 100%), linear-gradient(0deg, #ffffff 1%, #ffffff00 2%, #ffffff00 100%), linear-gradient(to bottom, #ffffff 1%, #ffffff00 2%, #ffffff00 100%), linear-gradient(0deg, #ffffff00 53%, #ffffff32 53%, #ffffff85 100%), linear-gradient(to right, rgba(4, 80, 130, 1) 0%, rgba(17, 101, 132, 1) 53%, rgba(29, 121, 134, 1) 100%);
  background-size: 100% 100%;
  border-bottom: 1px solid #000;
  border-left: 1px solid #ffffff64;
  border-right: 1px solid #ffffff85;
  cursor: default;
}

.xl_菜单栏 > div > div > a {
  text-shadow: 0px 1px 1px #000;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 4px 2px;
  font-size: 14px;
}

.xl_菜单栏 > div > div > a:hover {
  text-decoration: none;
  background: linear-gradient(to bottom, #ffffff85 0%, #ffffff32 25%, #0000 100%);
  box-shadow: inset 0 0 0 1px #ffffff85;
  border: 1px solid #00000000;
  border-top-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  border-color: #00000064 #00000064 #00000085 #00000064;
}

.xl_菜单栏 > div > div > a:active {
  background: linear-gradient(to bottom, #00000064 0%, #00000016 16%, #0000 100%);
  box-shadow: inset 0 0 0 1px #ffffff00;
  border: 1px solid #00000085;
}

/* 竖分割条 */
xl_竖分割条 {
  border: 1px solid #00000000;
  border-left-color: #00000040;
  border-right-color: #ffffff40;
}

.xl_导航栏 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.xl_侧边栏 {
  position: fixed;
  left: 0;
  top: 0;
  width: 25%;
  height: 100%;

  overflow-y: auto;

  direction: rtl;
}

.xl_内容 {
  position: fixed;
  left: 25%;
  top: 0;
  width: 75%;
  height: 100%;

  overflow-y: auto;
}

.xl_占位1 {
  height: 110px;
}

.xl_遮罩1 {
  background-color: #ffff00ff;
}

.xl_遮罩11 {
  background-color: #00000000;
  transition: all 1s;
}

.vista1 {
  backdrop-filter: blur(3px);
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #404040;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.vista2 {
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: url(/file/img/aero.png);
  /* , linear-gradient(180deg, #00000000 15%, #fffffff0 35%, #00000000 35%) */
  background-size: cover;
  background-attachment: fixed, local, local;
}

.vista3 {
  margin: 4px;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff;
  color: #000;
  font-size: 12px;
  line-height: 18px;
}

.vista4 {
  border-radius: 2px;
  border: 1px solid #c0c0c0;
  margin: 4px;
}

.vista5 {
  border: 1px solid #404040;
  background-color: #e8e8e8;
  overflow-y: auto;
}

.xl_项目列表:hover {
  box-shadow: inset 0 0 0 1px #b7eaff, inset 0 0 0 2px #ffffff64;
  background: linear-gradient(to bottom, #e0efff26 0%, #c7e7ff33 50%, #b2e3ff5e 100%);
}

.xl_项目列表:active {
  background: linear-gradient(#e0f6ff85 0%, #7ecbff64 100%);
  box-shadow: inset 0 0 0 1px #b4e9ff, inset 0 0 0 2px #ffffff64;
}
