@font-face {
  font-family: 'font';
  src: url(/files/font.ttf);
}

@font-face {
  font-family: 'code';
  src: url(/files/font-SourceCodePro-ExtraLight.ttf);
}

/* @font-face {
  font-family: 'simsun';
  src: url(/files/font-simsun.ttc#新宋体) format('truetype');
} */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  font-family: font;
  line-height: 1.1145141919810;
  filter: brightness(75%) blur(1px);
  transition: filter 1s;
}

body:hover {
  filter: brightness(100%) blur(0px);
}

code {
  font-family: code;
}

@keyframes scrolling-animation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

a {
  color: #8080ff;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 1);
  width: auto;
  max-width: 90%;
  margin: 10px;
}

.textbox {
  border-collapse: collapse;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 1);
  transition: box-shadow 0.3s;
}

.textbox:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 1);
}

pre {
  white-space: pre-wrap;
  margin: 0px;
}

thead {
  position: sticky;
  top: -11px;
  z-index: 100;
}

.newtextbox {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 1);
  transition: box-shadow 0.3s;
}

.newtextbox:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 1);
}

.textboxtitle {
  position: sticky;
  top: -10px;
  z-index: 100;
}

codetext {
  background-color: #1A222E80;
  /* border: 1px solid #404040; */
  border-radius: 4px;
  color: #fff;
  font-family: code;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
}

iframe {
  border: none;
  margin: 1px;
  padding: 0;
}

.temp1 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.temp1 th {
  background-color: #202020;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

input,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.temp1 td,
.temp1 th {
  border: 1px solid #0080ff;
}

.blogbox {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 1);
  padding: 10px;
  margin: 10px;
  transition: box-shadow 0.3s;
}

.blogbox:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 1);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  background-color: #202020;
  height: 90px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 25% auto;
  gap: 10px;
  background-color: #404040;
  height: calc(100vh - 170px);
}

.grid-container2.mobile-disable {
  grid-template-columns: inherit;
  grid-template-rows: 25% auto;
}

.grid-item {
  padding: 10px;
  overflow: auto;

}